@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@700&display=swap');

*{
    font-family: "Poppins", sans-serif;
}
.lineee{
    margin-top: 30%;
    text-align: center;
}

.imgword{
    font-weight: 600;
    color: #000000;
}

@media screen and (max-width: 768px) {
    .lineee {
      margin-top: 150%;
      flex-direction: column-reverse;
       
    }
    .imgword{
        order: 1;
    }

    .linng{
        width: 100%;
        order: 2;
    }
    .imglin{
        font-size: 6px;
    }
  
  }
  @media screen and (min-width: 768px) and (max-width: 1023px){
    .lineee {
        margin-top: 50%; 
        flex-direction: column-reverse;
      }
      .linng{
        width: 90%;
        order: 2;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1400px){
    .linng{
        width: 50%;
        order: 2;
    }
    .imgword{
      order: 1;
    }
  }