@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@700&display=swap');


.navbar{
    padding: 0% !important;
}
.nav-link{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.home{
   color: #FA4A0C !important;
}

.pro{
    color: #252B42 !important;
}
@media only screen and (min-width: 1024px) and (max-width: 1400px){
    .navbar-nav{
        margin: auto;
    }
}